/MergeTool.Tests/bin/Debug
/MergeTool.Console/bin/Debug
/MergeTool.Console/obj/Debug
/MergeTool.Tests/obj/Debug
/MergeTool/bin/Debug
/*.user
/*.suo
/MergeTool/obj/Debug
/MergeTool/*.DotSettings
/MergeTool.Tests/*.DotSettings
/src/MergeTool.Console/bin/Debug
/src/MergeTool.Console/obj/Debug
/src/MergeTool.Tests/bin/Debug
/src/MergeTool/*.DotSettings
/src/MergeTool.Tests/*.DotSettings
/src/MergeTool.Tests/obj/Debug
/src/MergeTool/bin/Debug
/src/MergeTool/obj/Debug
/src/*.suo
